*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color:#929CA8;
}
header{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    background-color: #3A434D;
}
img{
    width:250px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 60px;
}
.frase{
    margin-top: 60px;
    font-family: 'Inter';
    font-style: italic;
   
}
.hb{
    margin-bottom:45px;
    font-size: 35px;
}
.boton{
    margin-right: 20px;
    margin-left: 20px;
     text-align: center;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
    margin-top: 50px;
    background-color: #265366;
   margin-bottom: 100px;
   border-radius: 10px;
}
a{  

    color: white;
    font-family: 'Inter';
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.flip-card1{
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 40px;
   
   
}
.flip-card1-inner{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
   
}
.flip-card1:hover .flip-card1-inner {
    transform: rotateY(180deg);
  }
  .frente, .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 60px;
  }
  
  .frente {
    background-color: #265366;
    color: black;
  }
  
  .atras {

    background-color: #265366;
    color: white;
    transform: rotateY(180deg);
  }
  .cards{
    display: flex;
    flex-direction: row;

  }
  #card_1{
    margin-left: 250px;

  }
  #card_2{
    margin-right: 250px;
  }
  .correo{
    height: 250px;
  }
  .celular{
    height: 250px;
  }
  p{
    font-family: 'Inter';
    font-style: italic;
    font-size: 20px;
    padding-top: 60px;
  }