*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: content-box;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 375px;
    max-width: 1440px;
    font-size: 14px;
}
header{
  
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
h1{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    width: 60%;
    line-height: 2rem;
    margin-left: 3rem;
   
}
img{
    width:19rem;
    height: 19rem;
    border-radius: 100px;
}
.perfil{
    margin-left: 3rem;
    width: 10rem;
    height: 10rem;
    border-radius: 3rem;
}
.divisiones{
    display: flex;
    flex-direction: column;
}
.Talleres{
background-color: #004b49;
margin-left: 3rem;
margin-right: 1.5rem;
width: 10rem;
margin-bottom: 1.5rem;
color: white;
border-radius: 1rem;

}
.diseno{
    background-color: #004b49;
    margin-left: 3rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top:1.5rem;
    width: 10rem; 
    color: white;
    border-radius: 1rem;
}
.consultas{
    background-color: #004b49;
    margin-left: 3rem;
    margin-right: 1.5rem;
    width: 10rem;
    margin-bottom: 1.5rem;
    color: white;
    border-radius: 1rem;
}
.Retos{
    background-color: #004b49;
    margin-left: 3rem;
    margin-right: 1.5rem;
    width: 10rem;
    margin-bottom: 1.5rem;
    color: white;
    border-radius: 1rem;
}
p{
    font-family: 'Inter';
    font-style: italic;
    font-size: 2rem;
    width: 60%;
    line-height: 2rem;
    margin-left: 3rem;
   
}
h2{
    font-family: 'Inter';
    font-style: italic;
    font-size: 1.5rem;
    width: 60%;
    line-height: 2rem;
    margin-left: 3rem;
   
}
ol{   font-family: 'Inter';
    font-style: italic;
    font-size: 1rem;
   
    line-height: 2rem;
    margin-left: 3rem;
}
a{
    text-decoration:none;
    color: white;   
}
footer{
    background-color: #004b49;
   
    color: white;
    display: flex;
    flex-direction: row;
  margin-top: 1.5rem;

}
.u{
    margin-top: 2rem;
    width:4rem;
    height:4rem;
    margin-left: -2rem;
}
.presentacion{
margin-top: 1.5rem;
}
@media only screen and (min-width: 922px){
    body{
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
      header{
        display: flex;
        width: 100%;
       
        flex-direction: row;

    }
    img{
        width:19rem;
        height: 19rem;
        border-radius: 100px;
        margin-left: 1.5rem;
    }
    .perfil{
        margin-left: 1.5rem;
        margin-right: 3rem;
        width: 20rem;
        height: 20rem;
        border-radius: 3rem;
    }
    p{
        font-family: 'Inter';
        font-style: italic;
        font-size: 2rem;
        width: 60%;
        line-height: 2rem;
        margin-left: 20rem;
        margin-bottom: 1.5rem;
       
    }
    .divisiones{
        display: flex;
        flex-direction: row;
        margin-left: 15rem;
        
    }
    .diseno{
        background-color: #004b49;
        margin-left: 3rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        width: 10rem; 
        color: white;
        
    }
    footer{
    background-color: #004b49;
    color: white;
    display: flex;
    flex-direction: row;
   
    margin-top: 1.5rem;
    }
    .foot{
        font-family: 'Inter';
        font-style: italic;
        font-size: 1rem;
        line-height: 2rem; 
        color: white;
    display: flex;
    flex-direction: row;
    }
    .foot1{
        margin-right: 2.5rem;
    }
    .foot2{
        margin-right: 2.5rem;
    }
    .u{
        margin-top: 2rem;
        width:10rem;
        height:5rem;
    
    }
}

